region = "us-east-1"
environment = "columnar-demo"
vpc_cidr = "10.88.0.0/16"
public_subnets_cidr = ["10.88.1.0/24", "10.88.2.0/24", "10.88.3.0/24"]
private_subnets_cidr = ["10.88.10.0/24", "10.88.20.0/24", "10.88.30.0/24"]
availability_zones = ["us-east-1a", "us-east-1b", "us-east-1c"]
ssh_public_key = "/Users/jdoe/.ssh/jdoe-default-key-pair.pub"
owner_email = "john.doe@example.com"
